
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
div#input
{
   margin: 15px;
}
div#input select
{
    width: 300px;
}
div#output
{
    margin: 0px;
    clear: left;
}
label
{
    float: left;
}

.form2group
{
    margin:10px;
    float: left;
    width: 80px;
    
}
#submitsection
{
    width: 200px;
    margin: 10px;
    float: left;
}
.searchtyperadio
{
    clear: left;
    margin: 15px;
}


#output h3, #playerinfo h4
{
    display: inline;
}

.playerinfocontainer
{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#playerinfo , #playerlist
{
    margin-right: 20px;
    height: 500px;
    overflow: auto;
}




